body {
    font-family: 'Raleway', sans-serif !important;
    min-height: 100%;
    color: white;
}

.main-container {
    min-height: 100vh;
    position: relative;
}

h2 {
    text-shadow: 1px 1px rgba(17, 17, 17, 0.87);
    letter-spacing: 1.7px;
}

.menu-btn {
    top: 0px;
}

i {
    color: darkred;
}

/* The side button functionality*/
.side-btn {
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.99);
    box-shadow: 0px 0px 15px 5px rgba(106, 106, 106, 0.66);
    transform: translateX(-50%);
    transition: 0.33s;
    cursor: pointer;
}

.side-btn:hover {
    box-shadow: 0px 0px 7px 3px rgba(157, 157, 157, 0.70);
    transform: scale(1.15) translateX(-45%);
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #739ff6; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: rgb(235, 255, 142);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* TABLES */

.dataTables_wrapper {
    padding: 23px 0px !important;
    color: white !important;
}

.dataTables_length, .dataTables_info {
    margin-left: 33px;
    color: white !important;
}

.dataTables_filter, .dataTables_paginate {
    margin-right: 33px;
    color: white !important;
}

table, thead, tbody {
    border: none !important;
    padding: 15px 0px !important;
}

.table-responsive {
    overflow-y: visible !important;
    overflow-x: visible !important;
}

thead {
    background-color: rgba(10, 10, 10, 0.99) !important;
    color: darkred;
}

tbody tr:nth-child(odd) {
    background-color: rgba(36, 36, 36, 0.95) !important;
}

tbody tr:nth-child(even) {
    background-color: rgba(48, 48, 48, 0.95) !important;
}

tr {
    transition: 0.3s !important;
}

tbody > tr:hover {
    background-color: rgba(63, 63, 63, 0.88) !important;
}

tbody > tr > td > div, thead > tr > th > div {
    padding-top: 5px;
    text-shadow: 1px 1px 5px rgba(158, 103, 103, 0.33);
    margin-left: 25px;
}

.dataTables_wrapper .dataTables_filter input[type=search] {
    background-color: white !important;
}

.dataTables_wrapper .dataTables_length select {
    background-color: white !important;
}
/* others */

.padding-zero {
    padding: 0 !important;
}

.margin-auto {
    margin: 0 auto;
}