body {
    font-family: 'Raleway', sans-serif !important;
    color: white;
    height: 100%;
    overflow-x: hidden;
}

.table-responsive h2 {
    text-shadow: 5px 5px 10px rgba(6, 6, 6, 0.95);
    letter-spacing: 3px;
}

.menu-btn {
    top: 15px;
    left: 15px;
    z-index: 99;
}

i {
    color: rgb(132, 44, 44);
}

nav {
    height: 80px;
}

nav ul li a, button {
    background-color: rgba(15, 15, 15, 0.99);
    box-shadow: 0px 0px 15px 5px rgba(106, 106, 106, 0.66);
    transition: 0.33s;
    cursor: pointer;
    opacity: 0.98;
}

nav ul li a, button {
    padding: 10px 15px;
    border-radius: 5px;
    color: rgb(132, 44, 44);
    text-decoration: none;
}

nav ul li, button {
    margin-top: 15px;
}

nav ul li:hover, button:hover {
    box-shadow: 0px 0px 7px 3px rgba(157, 157, 157, 0.70);
    transform: scale(1.15);
}

nav ul li a:hover, button {
    text-decoration: none;
    color: rgb(235, 255, 142);
}

button {
    border: none;
}

/* The side navigation menu */
.fill-forms {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0; /* Stay at the top */
    z-index: 99; /* Stay on top */
    background-color: rgba(25, 25, 25, 0.66); /* Black*/
    backdrop-filter: blur(6px);
    box-shadow: 4px 0 12px -2px rgba(255, 255, 255, 0.40);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

.fill-forms {
    right: 0px;
    border-left: 1px solid rgba(255, 255, 255, 0.30);
}

/* The navigation menu links */
.fill-forms a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 17px;
    color: darkred;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.fill-forms a:hover {
    color: rgb(235, 255, 142);
}

/* Position and style the close button (top right corner) */
.fill-forms .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}

.fill-forms .closebtn {
    left: 25px;
    margin-right: 10px;
}

/* Main */

.dataTables_wrapper {
    padding: 15px 0px !important;
    color: white !important;
}

.dataTables_length, .dataTables_info {
    margin-left: 33px;
    color: white !important;
}

.dataTables_filter, .dataTables_paginate {
    margin-right: 33px;
    color: white !important;
}

table, thead, tbody {
    border: none !important;
    padding: 15px 0px !important;
}

.table-responsive, .instructions {
    background-color: rgba(255, 255, 255, .08);
    backdrop-filter: blur(3px);
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .22);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, .44);
    font-size: 13px;
    opacity: 0.98;
}

thead {
    background-color: rgba(10, 10, 10, 0.99) !important;
    color: darkred;
}

tbody tr:nth-child(odd) {
    background-color: rgba(36, 36, 36, 0.95) !important;
}

tbody tr:nth-child(even) {
    background-color: rgba(48, 48, 48, 0.95) !important;
}

tr {
    transition: 0.3s !important;
}

tbody > tr:hover {
    background-color: rgba(63, 63, 63, 0.88) !important;
}

tbody > tr > td > i, thead > tr > th > i {
    cursor: pointer;
}

.dataTables_wrapper .dataTables_filter input[type=search],
.dataTables_wrapper .dataTables_length select {
    background-color: rgba(41, 41, 41, 0.88) !important;
    color: white;
    border: 1px solid rgba(255, 255, 255, .22) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: rgba(41, 41, 41, 0.88) !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, .22) !important;
}

ul.no-bullets {
    list-style-type: none !important; /* Remove bullets */
    padding: 0 !important; /* Remove padding */
    margin: 0 !important; /* Remove margins */
}

/*Instructions specific*/
.instructions {
    letter-spacing: 1px;
    line-height: 2;
}

/*Footer*/
footer p {
    color: white;
    font-size: 8px;
}

/* others */
.padding-zero {
    padding: 0 !important;
}

.margin-auto {
    margin: 0 auto;
}

/*Forms*/
#myForms label {
    width: 150px;
    margin-top: 6px;
    color: rgb(168, 74, 73);
}

#myForms input[type=text], #myForms input[type=date] {
    color: white;
    border: none;
    width: 200px;
    background-color: rgba(47, 47, 47, 0.90);
    border-radius: 10px;
    padding: 2px;
}

#myForms::placeholder {
    color: rgb(126, 126, 126);
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

#logo img {
    height: 80px;
    width: auto;
}